* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/*------------------------- 
header section styles start 
---------------------------*/
.container {
  max-width: 100%;
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 50px;
}
.header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.header-title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 36px;
  color: #131313;
}
.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-top: 50px;
}
.item {
  margin-left: 20px;
  font-weight: 500;
  font-size: 18px;
}
.item a {
  text-decoration: none;
  color: #424242;
}
.banner-section {
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 50px;
  color: #131313;
  padding-bottom: 10px;
}
.banner-info {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-bottom: 20px;
}
.btn-primary {
  background: #ff900e;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #ffff;
  margin-bottom: 40px;
}
.banner-image {
  padding-bottom: 45px;
}
.banner-image img {
  width: 1270px;
  height: 680px;
}
/*------------------------- 
header section styles end 
---------------------------*/

/*----------------------- 
section one styles start 
------------------------- */
.section-one {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 350px;
  padding-bottom: 80px;
}
.team-title {
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 10px;
}
.image {
  padding: 10px;
}
.color-one {
  color: #727272;
}
.color-two {
  color: #ff900e;
}
.team-info {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-bottom: 20px;
}
/*------------------------ 
section one styles start  
------------------------*/

/*-----------------------
 section two styles start
 ------------------------  */
.section-two {
  margin: 0 350px;
  margin-bottom: 60px;
  display: flex;
}

.section-two-image {
  margin-left: 60px;
}
.section-two-details-title {
  border-left: 5px solid #ff900e;
  font-size: 45px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 30px;
}
.section-two-details-info {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 60px;
}
.div-one {
  background-color: rgba(237, 207, 156, 0.1);
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 60px;
}
.div-one-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  padding-bottom: 10px;
}
.div-one-sub-title {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

/*---------------------- 
section two styles end 
------------------------*/

/*------------------------------------- 
experience button section styles start 
--------------------------------------- */
.experience {
  text-align: center;
  margin-top: -180px;
  margin-bottom: 60px;
}
.btn-experience {
  background: #ff900e;
  width: 300px;
  height: 180px;
  border: none;
  border-radius: 8px;
  color: #ffff;
}
.btn-title {
  font-size: 65px;
  font-weight: 700;
}
.btn-sub-title {
  font-size: 25px;
  font-weight: 500;
}
/*------------------------------------- 
experience button section styles start 
---------------------------------------- */

/*---------------------------
 section three styles start 
 ---------------------------*/
.section-three {
  margin: 0 350px;
  margin-bottom: 50px;
}
.boxs {
  display: flex;
  gap: 154px;
}
.section-three-title {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  padding-bottom: 24px;
}
.section-three-sub-title {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-bottom: 100px;
}
.section-three-box {
  text-align: center;
  border: 2px solid #ff900e;
  border-radius: 5px;
  width: 200px;
  height: 190px;
}
.section-three-box:hover {
  width: 220px;
  height: 200px;
  transform: rotate(10deg);
  border-radius: 10px;
  background-color: rgba(255, 144, 14, 0.1);
}
.section-three-box-title {
  font-weight: 600;
  font-size: 40px;
  color: #424242;
  padding-bottom: 5px;
}
.section-three-box img {
  margin-top: 20px;
  margin-bottom: 10px;
}
.section-three-box-sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
/*---------------------
  section four styles 
 ---------------------*/
.section-four-info {
  text-align: center;
}
.section-four-title {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 18px;
}
.section-four-sub-title {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-bottom: 90px;
}
.our-sponsors {
  padding-left: 50px;
  margin: 0 350px;
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
/* section five styles */
.portfolio {
  text-align: center;
  margin-bottom: 40px;

}
.portfolio-title {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 50px;
}
.portfolio-images img:hover {
  height: 40%;
  border-radius: 10px;
  border: 5px solid #ff900e;
}
.portfolio-images {
  padding-left: 90px;
  margin: 0 350px;
  align-items: center;
  display: flex;
  gap: 80px;
  ma
}

/* footer styles */
footer {
  padding: 30px 200px;
  margin: 0 350px;
  background: #fff4e7;
  margin-bottom: 50px;
}
.footer-title {
  font-size: 20px;
  font-weight: 400;
}

